<p id="notice"><%= notice %></p>

<p>
  <b>Cnname:</b>
  <%= @user.cnname %>
</p>

<p>
  <b>Workno:</b>
  <%= @user.workno %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>


<%= link_to 'Back', users_path %>
